# Configuration file
# One config assignment per line
# Anything after a '#' is considered a comment
# Integer and double configs must be formatted s.t. std::stoi and std::stod can convert them
# Boolean configs must be given as "true" or "false"
# Boundary condition configs must be set as one of {"periodic","wall","open"}

# Iteration settings
equation_set = ideal_mhd_2E
time_integrator = rk2
duration = -1
max_iterations = -1
iter_output_interval = -1
time_output_interval = -1  # negative value means simulation time ignored for output interval
std_out_interval = 10   # number of iterations between short updates written to standard out (negative value means no updates written to std out)
safe_state_mode = false  # when true, writes out a state file at each iteration (very slow); when false, only does so at end of successful run

# Boundary conditions
x_bound_1 = open
x_bound_2 = open
y_bound_1 = open
y_bound_2 = open
open_boundary_strength = 1.0
open_boundary_decay_base = 0.5

# Safety factors
epsilon = 0.1
epsilon_viscous = 0

# Variable lower bounds
rho_min = 1.4550e-19
temp_min = 1.0e-5
thermal_energy_min = 1.0e-100

# All of the (comma-separated) variables given here will be written out in mhd.out files
# See fileio.cpp for a full list of variable names.
output_flags = rho, temp_e, temp_i, v_x, v_y

# Coulomb Explosion
coulomb_explosion = false
{
    timescale = 1.62312e-05
    lengthscale = 1
    strength = 1
    output_to_file = true
}

# Electron-Ion Thermalization
eic_thermalization = false
{
    eic_output_to_file = false
}