# Configuration file
# One config assignment per line
# Anything after a '#' is considered a comment
# Integer and double configs must be formatted s.t. std::stoi and std::stod can convert them
# Boolean configs must be given as "true" or "false"

### GENERAL CONFIGS ###

# Iteration settings
time_integrator = rk2
duration = 100
max_iterations = -1
iter_output_interval = -1
time_output_interval = 10
std_out_interval = 1   # number of iterations between short updates written to standard out (negative value means no updates written to std out)
write_interval = 1
multispecies_mode = false

# Boundary conditions
x_bound_1 = fixed
x_bound_2 = fixed
y_bound_1 = fixed
y_bound_2 = open_moc
open_boundary_strength = 1.0
open_boundary_decay_base = 0.5

# Safety factors
epsilon = 0.2

# Variable lower bounds
density_min = 1.0e5
temp_min = 1.0e4
thermal_energy_min = 1.0e-6


### EQUATION SET CONFIGS ###

ideal_mhd = true
{
    viscosity_opt = velocity
    global_viscosity = 0.5
    moc_b_limiting = true
    moc_mom_limiting = true
    moc_b_lower_lim = 0.5
    moc_mom_lower_lim = 0.5
    moc_b_upper_lim = 2.0
    moc_mom_upper_lim = 2.0
}

# All of the (comma-separated) variables given here will be written out in mhd.out files
# See fileio.cpp for a full list of variable names.
output_flags = rho, temp, press, thermal_energy, v_x, v_y, v_z, dt, n, bi_x, bi_y, bi_z

#---------- MODULE CONFIGS ----------#
# Physical viscosity
physical_viscosity = true
{
    time_integrator = rk2
    output_to_file = false
    coeff = 1.0e-16
    ramp_length = 0.0
    buffer_length = 0.0
    epsilon = 0.2
    heating_on = true
    force_on = true
    inactive_mode = false
}
# Boundary viscosity
artificial_viscosity = true
{
    hv_time_integrator = rk2
    hv_epsilon = 0.2
    visc_output_visc = true
    visc_output_lap = false
    visc_output_strength = false
    gradient_correction = false
    visc_opt = boundary,boundary,boundary
    boundary_falloff_shape = gaussian_elliptical
    visc_strength = 1.5,1.5,1.5
    visc_vars_to_diff = v_x,v_y,v_z
    visc_vars_to_evol = mom_x,mom_y,mom_z
    visc_length = 2e9,2e9,2e9
    visc_species = i,i,i
}
# Global viscosity
artificial_viscosity = true
{
    visc_output_visc = false
    visc_output_lap = false
    visc_output_strength = false
    visc_opt = local,local,local
    visc_strength = 0.1,0.1,0.1
    visc_vars_to_diff = v_x,v_y,v_z
    visc_vars_to_evol = mom_x,mom_y,mom_z
    visc_length = 0,0,0
    visc_species = i,i,i
}
# Anomalous resistivity
anomalous_resistivity = true
{
    safety_factor = 0.2
    output_to_file = false
    resistivity_model = time_scale
    #resistivity_model_params = 3.78e8,1.0e17,1.0
    time_scale = 0.5
    template_mode = flood_fill
    flood_fill_threshold = 0.5
    flood_fill_max_radius = 5e9
    flood_fill_min_current = 1.05
    flood_fill_current_ramp_length = 0.1
    flood_fill_argmin_radius = 2.0e9
    gradient_correction = true
    #frobenius_metric_coeff = 1.0e50
    metric_smoothing = true
    smoothing_sigma = 1.0
}
# Momentum Injection 1
momentum_injection = true
{
    start_time = 1
    duration = 1500
    max_accel = 1.0e5
    stddev_x = 8
    stddev_y = 3
    center_x = 123.3
    center_y = 63.4
    template_angle = 43.78
    dir_x = -48
    dir_y = 46
}
# Momentum Injection 2
momentum_injection = true
{
    start_time = 1
    duration = 1500
    max_accel = 4.54e5
    stddev_x = 8
    stddev_y = 3
    center_x = 85.7
    center_y = 92.8
    template_angle = 32.24
    dir_x = 65
    dir_y = -41
}
# Thermal conduction (Spitzer conductivity)
thermal_conduction = true
{
    flux_saturation = true
    epsilon = 0.2 # safety factor for subcycling time step
    time_integrator = rk2
    dt_subcycle_min = 1.0e-4
    output_to_file = true
    inactive_mode = false
}
# Radiative losses
radiative_losses = true
{
    cutoff_ramp = 1.0e3
    cutoff_temp = 3.0e4
    epsilon = 0.2
    time_integrator = rk2
    output_to_file = true
    prevent_subcycling = true
    inactive_mode = false
}
# Localized heating
localized_heating = true
{
    start_time = 50
    duration = 300
    max_heating_rate = 0.05
    stddev_x = 5
    stddev_y = 5
    center_x = 108
    center_y = 82
}
# Ambient heating
ambient_heating = true
{
    exp_mode = true
    exp_base_heating_rate = 8.0e-3
    exp_scale_height = 30.0e8
    split_exp_mode = false
}
# Ambient heating sink
ambient_heating_sink = true
{
    exp_mode = true
    exp_base_heating_rate = 4.0e-3
    exp_scale_height = 30.0e8
    center_x = -120.2e8
    half_width = 96.1e8
}
#------------------------------------#

